body{
    background-color: #f0f2f5;
}

a.color-blue{
    color: rgb(58, 109, 192);
}

.ic-accss{
    text-align: center;
    margin-bottom: 25px;
    display: none;
}

.ic-accss a{
    display: inline-block;
}

.ic-accss img{
    display: inline-block;
    width: 50px;
    height: 53px;
}

.ic-accss img.w{
    width: 120px;
    height: 35px;
}

.ic-accss img.fs{
    width: 60px;
    height: 55px;
}

.nm-accss{
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: #444;
    margin-bottom: 25px;
    font-weight: bold;
}

.nm-accss .lbl{
    font-size: 14px;
    color: #888;
    font-weight: normal;
}

.div{
    display: block;
    width: 100%;
}

.acs-space{
    padding-bottom: 20px;
}

.nw-button{
    margin-bottom: 20px;
    border-radius: 14px;
    font-size: 13px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 46px;
    color: #333;
    /* background-color: rgb(35, 121, 250); */
}

.nw-button:hover, .nw-button:focus{
    text-decoration: none;
}


.nw-button.blue{
    background-color: #2379fa;
    color: #fff;
}

.nw-button.blue:hover{
    background-color: rgb(27, 110, 235);
}

.nw-button.green{
    background-color: rgb(83, 221, 78);
    background-color: rgb(63, 197, 58);
    color: #fff;
}

.nw-button.green:hover{
    background-color: rgb(63, 197, 58);
    background-color: rgb(50, 175, 45);
}

.nw-button.empt{
    color: #333;
    height: 26px;
}

.nw-button.empt:hover{
    text-decoration: underline;
}

.nw-button[disabled='disabled']{
    background-color: #eee;
    color: #666;
}

.nw-button[disabled='disabled']:hover{
    background-color: #eee;
    color: #666;
}

.login100-form .f-error{
    color: #ec3326;
    text-align: center;
    font-size: 13px;
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    display: none;
  }
  
.login100-form .f-error a{
    color: #a64bf4;
    text-decoration: underline;
}

.btn-txt-r{
    position: absolute;
    bottom: 12px;
    width: 24px;
    height: 24px;
    line-height: 100%;
    text-align: center;
    z-index: 5;
    right: 5px;
    color: #bbb;
    display: none;
    text-decoration: none;
}

.btn-txt-r.eye.focus{
    color: #a64bf4;
}


.area-reff-access{
    border: 1px solid orange;
    border-radius: 4px;
    margin-top: 10px;
}

.ic-reff-access{
    position: absolute;
    top: 16px;
    left: 12px;
    color: #bbb;
}

.area-reff-access:focus{
    border: 1px solid orange !important;
}

.focus-input100::before{
    background-color: transparent !important;
}

.area-exe-btn{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.area-exe-btn .inner{
    display: block;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.area-load{
    display: none;
    position: relative;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.are-hov .plc{
    position: absolute;
    color: #aaa;
    font-size: 14px;
    top: 31%;
    left: 42px;
}

.are-hov[data-role="on"] .plc{
    text-transform: uppercase;
    font-size: 10px;
    top: 0px;
    transition: .5s;
    font-weight:normal !important;
    color: #555;
    font-family: Arial;
}

.are-hov[data-role="on"] .ic-reff-access{
    color: #888;
    color: #1877f2;
    color: rgb(18, 168, 18);
}

.are-hov[data-role="on"].error .ic-reff-access{
    color: rgb(214, 54, 54) !important
}

.are-hov[data-role="off"] .plc{
    transition: .5s;
}

.are-hov input{
    z-index: 3;
    position: relative;
}

.are-hov input:focus{
    caret-color: #1877f2;
    caret-color: rgb(18, 168, 18);
}


.wrap-input100[data-role="on"]{
    border-color: #1877f2;
    border-color: #12a812;
    /* border-color: #0c910c !important; */
}

.wrap-input100.error{
    border-color: rgb(214, 54, 54) !important;
}

.are-hov.error input:focus{
    caret-color: rgb(214, 54, 54) !important;
}

.wrap-input100.error .focus-input100.ic:after{
    color: rgb(214, 54, 54) !important;
}

.are-hov input.txt-error-s{
    color: rgb(214, 54, 54) !important;
}

/* .are-hov input.txt-error-s + .focus-input100:after{
    color: rgb(214, 54, 54) !important;   
}

.are-hov input.txt-error-s + .ic-reff-access:before{
    color: rgb(214, 54, 54) !important;   
} */


/* .are-hov input.txt-error-s ~ .wrap-input100{
    border-bottom-color: rgb(214, 54, 54) !important;   
}

.wrap-input100 ~ .are-hov input.txt-error-s{
    border-bottom-color: rgb(214, 54, 54) !important;   
} */


/* register verifikasi */

.afield-dgt{

}

.field-dgt{
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    height: 45px;
}

.field-dgt .inr{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding-left: 35px;
}

.field-dgt .inr .div{
    height: 100%;
    line-height: 100%;
}

.field-dgt .inr .div input{
    width: calc((100% / 4) - 5px);
    height: 100%;
    border: 0px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin-right: 5px;
}

.field-dgt .inr .div input:focus{
    border-color: #aaa !important;
}

.field-dgt .inr .div input:last-child{
    margin-right: 0px;
}

.afield-dgt .wrap-input100{
    border-bottom: 0px !important;
}

.afield-dgt .focus-input100::before{
    content: '';
    background: transparent !important;
}

.area-get-recode{

}

.area-get-recode .error{
    color: #ec3326;
    text-align: center;
    display: block;
}

.timer-get-code{
    color: #888;
    text-align: center;
    width: 100%;
    display: none;
}

.timer-get-code span{
    color: #333;
}


/* end register verifikasi */



/* change password */

.area-pwd{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 8;
}

.area-pwd .inner{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 3;
}

.area-pwd .bck{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .78);
}

.area-pwd .inner .ab{
    width: 520px;
    display: inline-block;
}

.ach-pwd{
    display: block;
    padding:40px 20px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(137, 223, 137);
    background-color: rgb(202, 253, 179);
    background-color: #fff;
    border-color: #32db7e;
    border: 0px;
    /* background: linear-gradient(-45deg,#32dba8,#34e66f); */
    color: #333;
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 4px #333;
    position: relative;
    padding: 50px 0px;
}

.ach-pwd .close{
    color: #666;
    position: absolute;
    right: 20px;
    top: 10px;
}

.ach-pwd .logo{
    font-size: 64px;
    line-height: 100%;
    color: #32db7e;
}

.ach-pwd .ttl{
    font-size: 20px;
    font-weight: bold;
}

.ach-pwd p{
    font-weight: normal !important;
    color: #888;
    font-size: 14px !important;
}

.ach-pwd .ttl, .ach-pwd p{
    font-family:Arial !important;
}

.ach-pwd p b{
    color: rgb(79, 138, 248);
    font-weight: normal;
    text-decoration: underline;
}


/* end change password */


/* verif code  */

.ar-vcode{
    display: block;
    width: 100%;
    position: relative;
    font-size: 0px;
    margin: 15px 0px 10px;
    padding: 25px 0px 0px;
    box-sizing: border-box;
}

.ar-vcode input[type='text']{
    font-size: 14px;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 34px;
    padding: 0px;
    border: 1px solid #ddd;
    margin-right: 3px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-radius: 4px;
}

.ar-vcode input[type='text']:focus{
    border-color: rgb(83, 221, 78) !important;
    background-color: #fff;
}

.ar-vcode input[type='text'][role='true']{
    border-color: rgb(83, 221, 78) !important;
    background-color: #fff;
}

.ar-vcode input[type='text']:last-child{
    margin-right: 0px;
}

.ar-vcode input[type='text'].err{
    border-color: rgb(202, 28, 28);
}

.ar-vcode button{
    padding: 8px 35px;
    border-radius: 18px;
    background-color: #eee;
    color: #666;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    width: 160px;
    height: 36px;
}

.nm-accss[role='true'] .ar-vcode button{
    background-color: #32db7e;
    color: #fff;
}


.nm-accss[role='true'] .ar-vcode .area-load{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.nm-accss[role='true'] .ar-vcode button{
    display: none;
}

.nm-accss[role='true'] .inf-foot{
    display: none;
}

.nm-accss .img-back-not{
    width: 320px;
    /* margin-bottom: -10%; */
    /* margin-top: -15%; */
}

.fot-say{
    color: #888;
    margin-top: 15px;
}

.ar-vbts{
    color: #333;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 20px;

}

.ar-vbts span{
    display: inline-block;
    position: relative;
}

.ar-vbts span:after{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    background-color: #bbb;
}
.ar-vbts span i{
    margin: 0px 35px;
    background-color: #fff;
    font-weight: normal;
    font-style: normal;
    z-index: 9;
    position: relative;
    padding: 0px 10px;
}


.ar-vcode .pg-error{
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: rgb(202, 28, 28);
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 14px;
    display: none;
}

.ar-vcode .pg-error a{
    color: rgb(58, 236, 58) !important;
}


.ar-vcode .pg-error a:hover, .ar-vcode .pg-error a:focus{
    color: rgb(58, 236, 58) !important;
}


.nm-accss[role='true'] .ar-vbts{
    display: none;
}

/* end verif code */


/* new */

.in-box-acs{
    display: block;
    width: 100%;
    height: 100%;;
    padding-top: 72px;
}

.bts-pg-acc{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 12px 0px;
    margin: 0px 0px 10px;
    
}

.bts-pg-acc:before{
    content:'';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    top: 50%;
    background-color: #ddd;
}

.bts-pg-acc span{
    background-color: #fff;
    padding: 0px 14px;
    display: inline-block;
    font-weight: 'Sans-Serif' !important;
    z-index: 2;
    position: relative;
    color: #999;
    font-size: 13px;
    /* font-family: Arial !important; */
}


/* area sampul new */
.ar-sampul.new{
    padding-top: 15px;
}

.ar-sampul .sampul-header{
    margin-bottom: 25px;
    color: #333;
    font-size: 14px;
}

.ar-sampul .area-boxed{
    display: block;
    position: relative;
    width: 100%;
}

.ar-sampul .area-boxed p{
    padding: 12px 0px;
}

.ar-sampul .area-boxed span.label{
    font-size: 11px;
}

.ar-sampul .area-boxed .fl-right a{
    font-size: 12px;
}

.ar-sampul .area-boxed li{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    /* background-color: rgb(250, 208, 131); */
    margin-bottom: 18px;
    color: #fff;
    font-size: 13px;
    position: relative;
}

.ar-sampul .area-boxed li:before{
    background-color: #d1e3ff;
    content: '';
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
    opacity: .25;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px -1px #ddd;
}

.ar-sampul .area-boxed li .ttl{
    color: orangered;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    padding-top: 15px;
}

.ar-sampul .area-boxed li .ttl b{
    position: absolute;
    top: -2px;
    left: 10px;
}

.ar-sampul .area-boxed li .ttl .icon{
    position: absolute;
    top: -19px;
    left: -16px;
    font-size: 30px;
}

.ar-sampul .area-boxed li:first-child{
    background-color: #fff;
    box-shadow: 1px 1px 4px -1px #ddd;
    color: #333;
}

.ar-sampul .area-boxed li:first-child:before{
    content: '';
    display: none;
}


.ar-sampul .area-boxed li:last-child{
    margin-bottom: 0px;
}

.wal-sampul{
    width: 100%;
    height: 75%;
    position: relative;
    float: left;
    margin-top: 55px;
    overflow: hidden;
    border-radius: 23px;
}

.wal-sampul .inar-f{
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% + 1px);
    height: 100%;
    background-color: #f8f8f8;
    background-image: url('/assets/images/background/bussines_app_dev.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nw-sampul{
    float: left;
    display: block;
    position: relative;
    width: 100%;
}

.ar-sampul .ar-logo{
    /* display: flex; */
    /* justify-content: center; */
}

.ar-sampul .ar-logo a{
    float: left;
    width: 72px;
    height: 70px;
}

.ar-sampul .ar-logo .logo-text{
    float: left;
    width: calc(100% - 72px);
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    padding-top: 10px;
}

.ar-sampul .ar-logo .logo-text b{
    font-size: 22px;
}

.ar-sampul .ar-logo .logo-text .label-sub{
    color: #888;
}

.ar-sampul .ar-logo a img{
    width: 100%;
    height: 100%;
}

.inar-sampul{
    display: block;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 60px;
    left: 0px;
    box-sizing: border-box;
    padding: 60px 0px 0px;
}

.box-sampul{
    display: block;
    width: 95%;
    height: 100%;
    position: relative;
    /* background-color: rgb(241, 238, 238); */
    overflow: hidden;
}

.box-sampul .text-sampul{
    font-size: 26px;
}

.box-sampul .text-label{
    font-size: 19px;
    color: #777;
}

.hi-slide{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
    margin-right: -55px;
}

.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: visible !important;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    /* border: 3px solid #fff; */
    /* background-color: #333; */
    cursor: pointer;
    box-sizing: border-box !important;
    box-shadow:8px 10px 1px -2px #eee;
    color: #fff;
    box-sizing: border-box;
    padding: 35px 35px;
}

.hi-slide > ul > li.f{
    background-image: linear-gradient(-45deg, rgb(0, 146, 69), rgb(117, 255, 180));
}

.hi-slide > ul > li.s{
    background-image: linear-gradient(-45deg, rgb(237, 30, 121), rgb(251, 195, 108));
}

.hi-slide > ul > li.t{
    background-image: linear-gradient(-45deg, rgb(121, 72, 241), rgb(191, 149, 242));
}

.hi-slide > ul > li .ttl1{
    font-size: 16px;
    font-weight: normal;
}

.acs-footer{
    display: block;
    position: absolute;
    position: relative;
    bottom: 15px;
    z-index: 3;
    line-height: 100%;
    text-align: center;
    width: 100%;
    height: 50px;
    color: #999;
    font-size: 12px;
}

.container-login100{
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding: 0px 0px 0px 30px;
}

.wrap-login100.p-b-54{
    padding-bottom: 10px;
}


/* registers */

.registers{
    font-size: 14px;
    text-align: center;
    color: #777;
}


.registers .ttl{
    font-size: 18px;
    color: #333;
}

.registers .clr{
    color: #333;
}


.registers .link{
    color: rgb(74, 131, 238);
    text-decoration: none;
}

.registers .area-btn-resend[data-role="on"] .link{
    display: none;
}

.registers .area-btn-resend[data-role="off"] .timer{
    display: none;
}

.registers .area-btn-resend[data-role="on"] .timer{
    display: inline-block;
    color: #333;
}

.info-error{
    color: rgb(211, 54, 54);
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid rgb(211, 54, 54);
    display: block;
}

.info-error .ic{
    font-size: 18px;
}

.area-btn-resend[data-error="off"] .info-error{
    display: none;
    
}

.area-btn-resend[data-error="on"] .info-true{
    display: none;
}

/* end registers */

/* end area sampul new */



/* errror page */


.ttl-er-page{
    font-size: 36px;
    color: #333;
}

.area-chk{
    position: relative;   
    padding: 16px 0px 12px 10px;
    box-sizing: border-box
}

.area-chk a{
    color: #aaa;
    text-decoration: none;
    font-size: 13px;
}

.area-chk .a-ic{
    display: inline-block;
    width: 15px;
    position: relative;
    height: 15px;
    text-align: center;
    line-height: 100%;
    margin-right: 6px;
}

.area-chk .a-ic .in{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    left: 0px;
    top: 2px;
}

.area-chk .a-ic .ic{
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 1;
    font-size: 11px;
    display: none;
}

.area-chk a:hover{
    color: #333;
}

.area-chk a:hover .in{
    border-color: #bbb;
}   

.area-chk a[role="on"]{
    color: #1877f2;
    color: rgb(18, 168, 18);
}

.area-chk a[role="on"] .a-ic .ic{
    display: inline-block;
}

.area-chk a[role="on"] .in{
    border-color: rgb(22, 134, 22);
    border-color: #1877f2;
    border-color: rgb(18, 168, 18);
}

.label-error{
    display: none;
    position: absolute;
    padding: 10px 12px;
    z-index: 4;
    border-radius: 4px;
    font-size: 12px;
    background-color: #c5291e;
    color: #fff;
    top: -25px;
    box-shadow: 0px 1px 3px -1px #888;
    box-sizing: border-box;
}

.label-error:after{
    content:'';
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -12px;
    left: 12px;
    border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #c5291e;
}

.are-hov.error .label-error{
    display: inline-block;
}
/* end new */


/* AREA NEW SIGNUP */
.ar-signup{
    margin: 0px auto;
    display: block;
    position: relative;
    width: 680px;
    font-size: 12px;
    padding-top: 30px;
}

.ar-signup .header{
    height: 50px;
    margin-bottom: 25px;
    position: relative;
}

.ar-signup .header-l{
    float: left;
    height: 46px;
    line-height: 100%;
}

.ar-signup .header .logo{
    float: left;
    width: 42px;
    height: 46px;
    background-image: url('/assets/icon/logo-dki.png');
    background-size: 100% 100%;
}

.ar-signup .header-l .nm{
    float: left;
    padding-left: 10px;
    height: 46px;
}

.ar-signup .header-l .nm b{
    color: #111;
    font-size: 18px;
}

.ar-signup .header a.signin{
    padding: 5px 14px;
    border-radius: 16px;
    /* border: 1px solid orange; */
    color: #eee;
    background: radial-gradient(circle, transparent 1%, rgb(3, 172, 14) 1%) center center / 15000% rgb(3, 172, 14);
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 12px;
}

.ar-signup .header a.signin:hover{
    text-decoration: none;
    background: radial-gradient(circle, transparent 1%, rgb(3, 172, 14) 1%) center center / 15000% rgb(2, 141, 11);
    color: #fff;
}

.ar-signup .body{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: #fff;
}

.ar-signup .body .ttl{
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.ar-signup .body .ttl b{
    font-size: 20px;
}


.ar-signup .body .ttl .label{
    font-size: 14px;
}


.ar-signup .body ul li.sgp{
    margin-bottom: 24px;
}

.ar-signup .body ul li .hd-nav{
    display: block;
}

.ar-signup .body ul li .hd-nav ul{
    width: 100%;
    position: relative;
}

.ar-signup .body ul li .hd-nav .ic-nav{
    width: 20%;
    margin-bottom: 0px;
    float: left;
    text-align: center;
    position: relative;
}

.ar-signup .body ul li .hd-nav .ic-nav:after{
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 8px;
    background-color: #ddd;
    top: calc(50% - 4px);
    width: 100%;
    right: 34%;
}

.ar-signup .body ul li .hd-nav .ic-nav:first-child:after{
    content: '';
    display: none;
}

.ar-signup .body ul li .hd-nav .ic-nav a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    line-height: 100%;
    border: 2px solid #ddd;
    border-radius: 50%;
    color: #999;
    background-color: #fff;
    z-index: 3;
    position: relative;
}

.ar-signup .body ul li .hd-nav .ic-nav a:hover{
    text-decoration: none;
}

.ar-signup .body ul li .hd-nav .ic-nav[role='on'] a{
    border-color: orange;
    color: orange;
}

.ar-signup .body ul li .hd-nav .ic-nav.focus a{
    border-color: orange;
    color: #fff;
    background-color: orange;
    box-shadow: 1px 2px 8px -2px #888;
}

.ar-signup .body ul li .hd-nav .ic-nav[role='on']:after{
    background-color: orange;
}


.ar-signup .body ul li .hd-nav .ttlx{
    padding: 15px 10px 5px;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 16px;
}

.ar-signup .body ul li .area-slider{
    display: block;
    width: 100%;
    position: relative;
    /* overflow: visible; */
    /* overflow-x: hidden; */
    /* background-color: pink; */
    position: relative;
    border-radius: 8px;
    padding: 20px 0px;
    border: 1px solid rgb(199, 221, 255);
    background-color: rgb(249, 251, 255);
}


.ar-signup .body ul li .ar-boxed{
    margin-bottom: 30px;
}

.ar-signup .body ul li .boxi{
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
    padding: 0px 5px;
}

.ar-signup .body ul li .boxi a{
    display: block;
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 140%;
    background-color: #f8f8f8;
    height: 70px;
    position: relative;
}

.ar-signup .body ul li .boxi a:hover{
    border-color: orange;
    background-color: orange;
    color: #fff;
}

.ar-signup .body ul li .boxi a:hover b{
    color: #fff;
}

.ar-signup .body ul li .boxi a:hover .label{
    color: #ddd;
}

.ar-signup .body ul li .boxi a[role='on']{
    border-color: orange;
    background-color: orange;
    color: #fff;
}

.ar-signup .body ul li .boxi a[role='on'] b{
    color: #fff;
}

.ar-signup .body ul li .boxi a .check{
    display: none;
}

.ar-signup .body ul li .boxi a[role='on'] .check{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    z-index: 4;
    display: block;
    color: #fff;
}

.ar-signup .body ul li .boxi a[role='on'] .label{
    color: #ddd;
}

.ar-signup .body ul li .boxi a .label{
    font-size: 12px;
}

.ar-signup .body ul li .boxi a b{
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.ar-signup .body ul li:last-child{
    margin-bottom: 0px;
}

.ar-signup .body ul li .txt{
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px 8px;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.ar-signup .body ul li textarea{
    resize: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.ar-signup .body ul li .txt:focus, .ar-signup .body ul li textarea:focus{
    border-color: orange !important;
}


.ar-signup .body ul li button.btn{
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

.ar-signup .body ul li button.btn[aria-role="true"]{
    background-color: rgb(3, 172, 14) !important;
}

.ar-signup .body ul li .ar-li{
    width: 360px;
    margin: 0px auto;
}

.ar-signup .body ul li .ar-li .box-li{
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 20px 30px;
}

.ar-signup .body ul li .ar-li .box-li .arlbl{
    position: absolute;
    left: 0px;
    top: -10px;
    background-color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 0px 10px;
    color: #888;
    font-weight: bold;
}

.ar-signup .body ul li .ar-li .box-li .in-boxli{
    margin-bottom: 15px;
}

.ar-signup .body ul li .ar-li .box-li .in-boxli:last-child{
    margin-bottom: 0px;
}

.ar-signup .foot{
    padding: 20px 0px 40px;
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.ddwn{
    display: block;
    width: 100%;
    position: relative;
}

.ddwn button.btn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px 0px 12px;
    cursor: pointer;
    border: 1px solid var(--color-border,#E5E7E9);
    user-select: none;
    transition: border-radius 280ms ease 0s;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    background-color: var(--color-page-background,#FFFFFF);
    pointer-events: all;
    text-align: left;
    outline: none;
    box-shadow: none;
}

.ddwn button.btn:hover{
    background-color: #fff;
}

.ddwn button.btn[disabled="disabled"]{
    background-color: #e6e6e6 !important;
}

.ddwn button.btn:after{
    content: "";
    display: inline-block;
    background-image: url(/assets/svg/dropdown-down.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 280ms ease 0s, background-color 0.12s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
}


.ddwn.open button.btn:after{
    transform: rotate(-180deg);
}

.ddwn button.btn:hover:after{
    background-color: #f0f0f0;
}

.ddwn button.btn:disabled:hover:after{
    background-color: transparent;
}

.ddwn button.btn:disabled:after{
    display: none !important;
}

.ddwn button label{
    flex: 1 1 0%;
    color: var(--color-text-placeholder,rgba(49,53,59,0.44));
    cursor: pointer;
    overflow: hidden;
    padding-right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: normal !important;
    margin: 0px;
}

.ddwn button label span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ddwn.open button.btn{
    border-radius: 8px 8px 0px 0px !important;
}


.ddwn .ddwn-pg{
    transition: transform 280ms ease-out 0s, opacity 0.16s ease 0s, visibility 0.16s ease 0s;
    width: 100%;
    padding: 0px 4px;
    overflow: auto;
    position: absolute;
    background: var(--color-card,#FFFFFF);
    border: 1px solid var(--color-border,#E5E7E9);
    border-radius: 0px 0px 8px 8px;
    transform-origin: center top;
    scroll-behavior: smooth;
    max-height: 276px;
    /* transform: translateY(-8px); */
    opacity: 0;
    visibility: hidden;
}

.ddwn.open .ddwn-pg{
    transition: transform 280ms ease-out 0s, opacity 0.16s ease 0s, visibility 0.16s ease 0s;
    width: 100%;
    padding: 0px 4px;
    overflow: auto;
    position: absolute;
    background: var(--color-card,#FFFFFF);
    border: 1px solid var(--color-border,#E5E7E9);
    border-radius: 0px 0px 8px 8px;
    transform-origin: center top;
    scroll-behavior: smooth;
    max-height: 276px;
    z-index: 20;
    opacity: 1;
    visibility: unset;
}


.ddwn .ddwn-pg .ddwn-header{
    background-color: var(--color-page-background,#FFFFFF);
    /* margin-bottom: -8px; */
    padding: 8px 0px;
    position: relative;
    top: 0px;
    z-index: 1;
    display: block;
}

.ddwn[aria-head="false"] .ddwn-pg .ddwn-header{
    display: none;
}

.ddwn .ddwn-pg .ddwn-header .inhd{
    border-radius: 8px;
    display: flex;
    -webkit-box-flex: inherit;
    flex-grow: inherit;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow: hidden;
    transition: border-color 280ms ease 0s;
    width: 100%;
    height: auto;
    background-color: var(--N50,#F3F4F5);
    border: 1px solid var(--N50,#F3F4F5);
    flex-direction: row;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.ddwn .ddwn-pg .ddwn-header .inhd button{
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    padding: 0px;
    transition: background-color 280ms ease 0s;
    width: 40px;
    background-color: transparent;
    flex: 0 0 auto;   
}

.ddwn .ddwn-pg .ddwn-header .inhd button:after{
    content: "";
        background-size: 24px;
        background-image: url(/assets/svg/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        inset: 0px;
}



.ddwn .ddwn-pg .ddwn-header .inhd input{
    padding-right: 12px;
    padding-left: 0px;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    box-sizing: border-box;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
}

.ddwn .ddwn-pg .ddwn-header .inhd:focus-within input{
    border: 1px solid green;
}

.ddwn .ddwn-pg ul{
    list-style: none;
    width: 100%;
    position: relative;
    display: block;
    padding: 3px 0px 3px 0px;
}

.ddwn .ddwn-pg ul li{
    cursor: pointer;
    list-style: none;
    outline: none;
    position: relative;
    min-height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 0px !important;
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.ddwn .ddwn-pg ul li:before{
    content: "";
    position: absolute;
    left: -4px;
    top: 0px;
    height: 100%;
    width: 3px;
    background-color: var(--G500,#03AC0E);
    opacity: 0;
    transition: opacity 0.08s ease-in 0s;
}

.ddwn .ddwn-pg ul li[aria-selected="true"]:before{
    opacity: 1;
}

.ddwn .ddwn-pg ul li button{
    width: 100%;
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    position: relative;
}

.ddwn .ddwn-pg ul li button i{
    position: absolute;
    right: 10px;
    top: 12px;
}

.ddwn .ddwn-pg ul li:hover button{
    background-color: #f8f8f8;
}
/* AREA NEW SIGNUP */


/* dropdown src */
.indropdown{
    display: block;
    width: 100%;
    position: relative;
}

.indropdown button.cls{
    position: absolute;
    border: 0px;
    background-color: #fff;
    right: 4px;
    top: 8px;
    padding: 5px;
    line-height: 100%;
    display: none;
    color: #777;
    outline: none;
}

.indropdown .dropdown{
    position: absolute;
    padding: 3px 0px;
    box-sizing: border-box;
    width: 100%;
    line-height: 100%;
    z-index: 3;
    display: none;
}

.indropdown[role="true"] .dropdown{
    display: block;
}

.indropdown .dropdown .inardropdown{
    display: block;
    background-color: #fff;
    overflow-y: auto;
    max-height: 152px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px -1px #bbb;
}

.indropdown .dropdown .inardropdown.no-rd{
    border-radius: 0px;
}

.indropdown .dropdown .inardropdown ul, .indropdown .dropdown .inardropdown ul li{
    display: block;
    width: 100%;
    height: unset;
    position: relative;
    box-sizing: border-box;
}


.indropdown .dropdown .inardropdown ul li.empty{
    box-sizing: border-box;
    padding: 13px 10px 13px 30px;
    color: #666;
    position: relative;
    text-align: left;
}

.indropdown .dropdown .inardropdown ul li.notfound{
    box-sizing: border-box;
    padding: 16px 10px 16px 30px;
    color: rgb(243, 87, 87);
    position: relative;
    text-align: left;
}

.indropdown .dropdown .inardropdown ul li.notfound:before{
    font-family: Flaticon;
    content:"\f14e";
    position: absolute;
    left: 9px;
    width: 16px;
    height: 16px;
    top: 16px;
}

.indropdown .dropdown .inardropdown ul li.selected{
    box-sizing: border-box;
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
}

.indropdown .dropdown .inardropdown ul li.selected:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}


.indropdown .dropdown .inardropdown ul li.empty:before{
    content:'';
    position: absolute;
    left: 7px;
    width: 16px;
    height: 16px;
    top: 12px;
    background-image: url('../../svg/loading.blue.svg');
    background-size: 100% 100%;
}
/* end dropdown src */


.wrap-login100{
    box-shadow: 1px 2px 2px -1px #bbb;
}

.show .animate-zoom {animation:animatezoom 0.6s}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


@media (max-width: 520px)
{
    .limiter{
        float: unset;
        height: 100%;
    }

    .inr-acs{
        /* min-height: 100%; */
    }

    .ar-sampul{
        height: unset;
    }

    .nw-button{
        font-size: 14px;
    }
}

@media (max-width:720px)
{
    .ic-accss img{
        width: 50px;
        height: 53px;
    }

    .ic-accss img.w{
        width: 120px;
        height: 35px;
    }


    .ic-accss img.fs{
        width: 50px;
        height: 53px;
    }

    .nm-accss{
        font-size: 16px;
    }

    .area-pwd .inner{
        box-sizing: border-box;
        padding: 15px;
    }

    .area-pwd .inner .ab{
        width: 100%;
    }

    .ach-pwd{
        padding: 35px;
    }

    .ar-vcode input[type='text']{
        font-size: 16px;
    }

    .in-box-acs{
        padding-top: 25px;
    }
}



.tbl{
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}

.intbl{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.hide{
    display: none !important;
}

.show{
    display: block !important;
}
